@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'gilroyExtraBold';
  src: url('../../public/fonts/gilroyExtraBold.otf') format('truetype');  
}

@font-face {
  font-family: 'gilroyLight';
  src: url('../../public/fonts/gilroyLight.otf') format('truetype');  
}
.gilroyExtraBold{
  font-family: gilroyExtraBold;
}
.gilroyLight, h1,h2,h3,h4,h5,h6{
  font-family: gilroyLight;
}
.gilroyLight,p,a,li,span,input{
  font-family: gilroyLight;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 position: relative;
}

.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
      max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
      max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
      max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
      max-width: 1170px;
  }
}
@media (min-width: 1536px) {
  .container {
      max-width: 1170px;
  }
}
